# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:  
* List popular languages for Data Science
* List some commonly used libraries used by Data Scientists
* List some Data Science tools using a table
* Show some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:  
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit learn

|Data Science Tools |  
|:------------------ |  
|Jupyter Notebook |  
|R Studio |  
|Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author  
Touqeer K